@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
.scrollbar-custom::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #2c414b;
    border-radius: 10px;
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #3d5994;
  }
  
  .scrollbar-custom::-webkit-scrollbar-track {
    background: #222222;
  }
  